#body {
    background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
    font-family: 'Varela Round', sans-serif;
}

.title {
    font-size: large;
    text-align: center;
    color: white;
}

th,
td {
    border-bottom: 1px solid black;
}

th {
    background-color: white;
    color: black;
}